@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">HTMX Experiment</h1>
    <br />
    <div>
        <button hx-get="/api/Basic/Version" hx-target="#version">Get Version</button>
        <div id="version"></div>
    </div>
    <br />
    <div>
        <button hx-get="/views/PartialView/People" hx-target="#people">Get People</button>
        <div id="people"></div>
    </div>
</div>
